{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}
{% load custom_tags %}

{% block meta_title %}{% endblock %}
{% block title %}{% endblock %}

{% block breadcrumb_menu %}
{% endblock %}

{% block main %}

    <div id='layer-mainArticles'>
        <div id='mainArticles'>
        {% for mainArticle in mainArticles %}
            <div class='container-mainArticle {% if forloop.counter0 == 0 %} deploy {% endif %}'>
                <a class='mainArticle' href='//{{ mainArticle.site.domain }}{{ mainArticle.get_absolute_url }}'>
                    <div class='container-caption'>
                        <div class='caption-bg' style='background-image:url("{{ MEDIA_URL }}{% thumbnail mainArticle.featured_image 800 400 %}")'>
                        </div>
                        <div class='caption-screen'>
                            <h2 class='caption-title small'>{{ mainArticle.title|capfirst }}</h2>
                            <h2 class='caption-title big'>{{ mainArticle.title|capfirst }}</h2>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class='container'>
        {% for blogPost in last_blogPosts %}
            <a class='bloc_article col-md-4 {% if blogPost.site.name == "PNP" %} PNP {% elif blogPost.site.name == "PNS" %} PNS {% elif blogPost.site.name == "LA LETTRE" %} LA_LETTRE {% endif %}' href='//{{ blogPost.site.domain }}{% url "blog_post_detail" blogPost.slug %}'>
                <div class='label'>
                    {{ blogPost.site.name }}
                </div>
                <img class='img-thumbnail' src='{{ MEDIA_URL }}{% thumbnail blogPost.featured_image 300 200 %}' alt='illustration {{ blogPost.title }}' />
		<div class='article-title'>
                    <h4>{{ blogPost.title|truncatechars:100 }}</h4>
		</div>
            </a>
        {% endfor %}
    </div>

{% endblock %}
