{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

    {% block extra_edited_css %}
    <style>
        {% for site in all_sites %}
        {% if site.domain == request.get_host %}
            #logo_blog.{{ site.css_class }}{
                background-color: {{ site.color }};
            }
        {% endif %}
        {% endfor %}
    </style>
    {% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or category or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if category %}
    {% trans "Category:" %} {{ category }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block main %}
    {% for site in all_sites %}
    {% if site.domain == request.get_host %}
    <div id='logo_blog' class='{{ site.css_class }} text-center'>
        <img src='{{ MEDIA_URL }}SITES/banner/{{ site.img_banner }}' alt='logo PNP' />
    </div>
    {% endif %}
    {% endfor %}
    <div class='container'>
        {% if tag or category or year or month or author %}
            {% block blog_post_list_filterinfo %}
            <p>
            {% if tag %}
                {% trans "Viewing posts tagged" %} {{ tag }}
            {% else %}{% if category %}
                {% trans "Viewing posts for the category" %} {{ category }}
            {% else %}{% if year or month %}
                {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
                {{ year }}
            {% else %}{% if author %}
                {% trans "Viewing posts by" %}
                {{ author.get_full_name|default:author.username }}
            {% endif %}{% endif %}{% endif %}{% endif %}
            {% endblock %}
            </p>
        {% else %}
            {% if page %}
            {% block blog_post_list_pagecontent %}
            {% if page.get_content_model.content %}
                {% editable page.get_content_model.content %}
                {{ page.get_content_model.content|richtext_filters|safe }}
                {% endeditable %}
            {% endif %}
            {% endblock %}
            {% endif %}
        {% endif %}

        {% for blog_post in blog_posts.object_list %}
            <a class='bloc_article col-md-4
                        {% if blog_post.site.name == "PNP" %}
                        PNP
                        {% elif blog_post.site.name == "PNS" %}
                        PNS
                        {% endif %}' 
                        href='//{{ blog_post.site.domain }}{% url "blog_post_detail" blog_post.slug %}' >
                {% with blog_post.categories.all as categories %}
                    <div class='label'>
                    {% if categories %}
                        {% for category in categories %}
                            {{ category }} {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% elif blog_post.archive %}
                        archives
                    {% endif %}
                    </div>
                {% endwith %}
                <img class='img-thumbnail' src='{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 300 200 %}' alt='illustration {{ blog_post.title }}' />
                <div class='article-title'>
                    <h4>{{ blog_post.title|truncatechars:100 }}</h4>
                </div>
            </a>
        {% endfor %}

        {% pagination_for blog_posts %}

        {% if settings.COMMENTS_DISQUS_SHORTNAME %}
            {% include "generic/includes/disqus_counts.html" %}
        {% endif %}
    </div>
{% endblock %}

{% block right_panel %}
{% include "blog/includes/filter_panel.html" %}
{% endblock %}

