@charset "UTF-8";

/* 

rouge = rgb(204,7,30);

orange = rgb(233,133,0);

mauve = rgb(128,17,21);

vert = rgb(116,149,19);

bleu = rgb(0,112,153);

violet = rgb(171,60,111);

jaunePNP = rgb(254,193,13);

*/


body{
    background-color: white;
}
a,a:hover{
    text-decoration: none;
    color: #333;
}
h4{
    font-size: 16px;
}

#banner_layer{
    overflow: hidden;
    max-height: 150px;
}#banner_layer img{
    max-width: 100%;
}
.navbar-brand{
    padding: 0 15px;
}
.navbar-brand img{
    height: 62px;
}
.nav li.dropdown{
    position: initial;
}
.navbar-default .navbar-nav > .active > a{
    text-decoration: underline;
}


.navbar-nav > li > a, .navbar-nav > li.open > a{
    min-width: 100px;
    padding: 20px 30px;
    border-bottom: 4px solid;
    border-color: rgb(0,112,153);
}
.navbar-nav > .dropdown > a.blue, .navbar-nav > .dropdown.open > a.blue{
    border-color: rgb(0,112,153);
}
.navbar-nav > .dropdown > a.red, .navbar-nav > .dropdown.open > a.red{
    border-color: rgb(204,7,30);
}
.navbar-nav > .dropdown > a.green, .navbar-nav > .dropdown.open > a.green{
    border-color: rgb(116,149,19);
}
.navbar-nav > .dropdown > a.orange, .navbar-nav > .dropdown.open > a.orange{
    border-color: rgb(233,133,0);
}
.navbar-nav > .dropdown > a.purple, .navbar-nav > .dropdown.open > a.purple{
    border-color: rgb(171,60,111);
}
.navbar-nav > .dropdown > a.jaunePNP, .navbar-nav > .dropdown.open > a.jaunePNP{
    border-color: rgb(254,193,13);
}


.navbar-nav > .open > a, .navbar-nav > .open > a:hover{
    background-color: rgb(0,112,153);
    color: white;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color: rgb(0,112,153);
}
.navbar-default .navbar-nav > .open > a.blue ,.navbar-default .navbar-nav > .open > a.blue:hover, .navbar-default .navbar-nav > .open > a.blue:focus{
    background-color: rgb(0,112,153);
}
.navbar-default .navbar-nav > .open > a.red ,.navbar-default .navbar-nav > .open > a.red:hover, .navbar-default .navbar-nav > .open > a.red:focus{
    background-color: rgb(204,7,30);
}
.navbar-default .navbar-nav > .open > a.green ,.navbar-default .navbar-nav > .open > a.green:hover, .navbar-default .navbar-nav > .open > a.green:focus{
    background-color: rgb(116,149,19);
}
.navbar-default .navbar-nav > .open > a.orange ,.navbar-default .navbar-nav > .open > a.orange:hover, .navbar-default .navbar-nav > .open > a.orange:focus{
    background-color: rgb(233,133,0);
}
.navbar-default .navbar-nav > .open > a.purple ,.navbar-default .navbar-nav > .open > a.purple:hover, .navbar-default .navbar-nav > .open > a.purple:focus{
    background-color: rgb(171,60,111);
}
.navbar-default .navbar-nav > .open > a.jaunePNP ,.navbar-default .navbar-nav > .open > a.jaunePNP:hover, .navbar-default .navbar-nav > .open > a.jaunePNP:focus{
    background-color: rgb(254,193,13);
}

.dropdown-menu{
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    padding: 25px 0 15px 0;
    box-shadow: none;
    background-color: #f8f8f8;
}

.dropdown-sub{
    display: inline-block;
    vertical-align: top;
}

.dropdown-category{
    vertical-align: top;
    padding: 0 15px 0 5px;
    margin-left: -15px;
}
.dropdown-category>a{
    display: block;
    width: 110px;
    padding: 2px 5px;
    font-weight: 400;
    color: #333;
}
.dropdown-category>a>i{
    display: inline-block;
    margin-right: 3px;
}
.last_news{
    padding: 0 0 5px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
}.last_news i{
    float: right;
    position: relative;
    top: 3px;
}
.PNP .last_news, .PNP .dropdown-category a:hover, .PNP .highlight-box:hover a{
    color: rgb(0,112,153);
}.PNS .last_news, .PNS .dropdown-category a:hover, .PNS .highlight-box:hover a{
    color: rgb(171,60,111);
}

.dropdown-highlights{
    width: 70%;
}
.highlight-box{
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    width: calc(33% - 5px);
    padding: 0 10px 0 0;
}
.highlight-box img{
    max-width: 100%;
}
.PNP .highlight-box a{
    color: rgb(0,112,153);
}
.PNS .highlight-box a{
    color: rgb(171,60,111);
}
.highlight-box .caption{
    font-size: 16px;
    font-weight: 300;
}

.article-title{
    overflow: hidden;
    height: 60px;
    padding: 0 10px;
}

.dropdown-logo{
    width: calc(30% - 140px);
}
.dropdown-logo img{
    width: 100%;
}



@media screen and (max-width: 768px){

    .navbar-nav > li > a, .navbar-nav > li.open > a{
        min-width: 25px;
        padding: 15px 10px;
        border-bottom: 2px solid;
    }

}
@media screen and (min-width: 768px) and (max-width: 991px){

    .navbar-brand{
        padding: 0 40px;
    }

    .navbar-brand img{
        height: 50px;
    }

    .navbar-nav > li > a, .navbar-nav > li.open > a{
        min-width: 50px;
        padding: 15px 20px;
        border-bottom: 2px solid;
    }

    .dropdown-category{
        width: 170px;
    }

    .dropdown-highlights{
        width: 60%;
    }
    .highlight-box{
        width: calc(50% - 5px);
    }

    .dropdown-logo{
        width: calc(40% - 170px);
    }

}
@media screen and (min-width: 1200px){

    .navbar-brand img{
        height: 77px;
    }

    .navbar-nav > li > a, .navbar-nav > li.open > a{
        padding: 27px 36px;
    }

    .dropdown-category a{
        width: 140px;
    }

    .dropdown-logo{
        width: calc(30% - 170px);
    }

}










#mainArticles{
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 35px;
    overflow: hidden;
}
.mainArticle:first-child{
    width: 60%;
}
.mainArticle:last-child{
    left: 60%;
    width: 40%;
}


.mainArticle{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    background-color: rgb(50,50,60);
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.mainArticle img{
    min-width: 100%;
    min-height: 100%;
}
.mainArticle .caption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    -moz-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}.mainArticle:hover .caption{
    background-color: rgba(0,0,0,.0);
}

.mainArticle .title{
    position: absolute;
    bottom: 5%;
    left: 4%;
    max-width: 80%;
    vertical-align: bottom;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.mainArticle:first-child .caption{
    background-color: rgba(0,0,0,0);
}.mainArticle:first-child:hover .caption{
    background-color: rgba(0,0,0,0);
}
.mainArticle:first-child .title{
    font-size: 35px;
}


.bloc_article{
    margin: 15px 0;
    vertical-align: top;
}
.bloc_article img{
    min-width: 100%;
}
.bloc_article h3{
    /*display: inline-block;*/
    font-size: 20px;
    padding: 0 5px;
    font-weight: 400;
}
.bloc_article .label{
    position: absolute;
    z-index: 2;
    top: -5px;
    right: 0px;
    padding: 8px;
    background-color: rgba(0,0,0,.4);
}.bloc_article.PNP .label{
    background-color: rgba(0,112,153,.9);
}.bloc_article.PNS .label{
    background-color: rgba(128,17,21,.9);
}






