{% extends "login_base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}
{% load custom_tags %}
{% load bootstrap3 %}

{% block main %}
    <div id='main' class='container'>
        <div class='row'>
            <div id='form' class='col-md-4 col-sm-6 col-xs-10 col-md-offset-4 col-sm-offset-3 col-xs-offset-1 text-center' style='margin-bottom:40px; padding:20px 30px; background-color:white; border-radius:5px;'>
                <h2 class='text-center' style='font-weight:bold; color:#FEC10D'>Abonnement</h2>
                <p>
                    Si vous souhaitez vous abonner à PNP ou à la Lettre PNP, merci de remplir le formulaire suivant. Notre service abonnement vous répondra dans les meilleurs délais.
                </p>
                <div style='margin-top:20px;'>
                    <form method='POST' action=''>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary" style='margin-top:10px;'>
                                <i class='fa fa-paper-plane'></i> Envoyer
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}