{% extends "base.html" %}
{% load mezzanine_tags keyword_tags i18n staticfiles %}
{% load custom_tags %}
{% load bootstrap3 %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
<style type="text/css">
    body{ 
      background: url('{% static 'img/login_bg.jpg' %}') no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    #contentNav{
        border-bottom: 1px solid rgb(240,240,240);
    }
</style>
{% endblock %}

{% block title %}
{# {% editable page.title %}{{ page.title }}{% endeditable %} #}
{% endblock %}

{% block contentNav %}
<nav id='contentNav' class="navbar navbar-default" role="navigation">
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="//lacoursedesgarconsdecafe.org">  <img src='{% static "img/logo_pnpapetier.jpg" %}' alt='logo PNP' />
        </a>
    </div>
    <div id='navbar-collapse-1' class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href='/' class='btn' class="dropdown-toggle" data-toggle="dropdown open">
                    <i class='fa fa-arrow-left' ></i> retour accueil
                </a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block main %}
    <div id='main' class='container'>
        {% if error %}
            <div id='error' class='col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2'>
                <div class='alert alert-danger text-center' style='padding: 10px 15px 5px 15px;'>
                    <i class='icon-warning-sign'></i> Erreur parmi les données soumises.
                    <h3 style='margin: 10px;'>{{error}}</h3>
                </div>
            </div>
        {% endif %}
        {% if message %}
        <div id='success' class='col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2' style='margin-top: 30px;'>
                <div class='alert alert-success text-center' style='padding: 10px 15px 5px 15px;'>
                    <h3 style='margin: 10px;'>{{ message }}</h3>
                </div>
            </div>
        {% endif %}

        <div id='form' class='col-md-6 col-md-offset-3 text-center' style='margin-top: 30px; padding:30px; background-color:white; border-radius:5px;'>
            <h2 style='margin: 0 0 20px 0'>Entrez votre adresse email:</h2>
            <div class='thumbnail col-md-12' style='padding:30px; '>
                <form method='POST' action=''>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-success" style='margin-top:10px;'>
                            Confirmer
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>

    </div>
{% endblock %}